---

---

<section class="eduction section">
  <div class="eduction__container container">
    <h2>تحصیلات</h2>
    <div class="eduction__periods">
      <!-- First Education Period -->
      <div class="eduction__period">
        <time class="eduction__time">از سال ۹۷ تا ۱۴۰۰ </time>
        <div class="eduction__info">
          <h2 class="eduction__institution">دانشکده انقلاب اسلامی</h2>
          <p class="eduction__major">کارشناسی برق کنترل</p>
        </div>
        <div class="eduction__place">هنرستان موسی رنجبر، قائم‌شهر</div>
      </div>
      <!-- Second Education Period -->
      <div class="eduction__period">
        <time class="eduction__time">از سال ۱۴۰۰ تا الان</time>
        <div class="eduction__info">
          <h2 class="eduction__institution">دانشکده انقلاب اسلامی</h2>
          <p class="eduction__major">کارشناسی برق کنترل</p>
        </div>
        <div class="eduction__place">تهران</div>
      </div>
    </div>
  </div>
</section>

<style>
  .eduction__period {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    color: #121212;
    margin-bottom: 20px;
    padding: 10px;
  }

  .eduction__time {
  }

  .eduction__info {
    flex: 1;
  }

  .eduction__institution {
    font-size: 1.125rem;
    line-height: 1;
  }

  .eduction__place {
  }
</style>
