---
import { Image } from "astro:assets";
import profileImage from "../images/profile-img.jpg";
---

<header class="header">
  <div class="person">
    <div class="person__profile">
      <Image loading={"eager"} width={1200} height={1200} src={profileImage} alt={"profile"} />
    </div>
    <div class="person__info">
      <h2>حسین انصافی</h2>
      <p>توسعه دهنده وب</p>
    </div>
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-header);
    padding-block: 1.25rem;
    color: white;
  }

  .person {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
  }

  .person__profile {
    display: flex;
    justify-content: center;
  }

  .person img {
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    object-position: center;
  }

  .person__info p {
    color: hsl(0, 0%, 60%);
  }

  .person__info h2 {
    margin-bottom: 0rem;
    color: white;
  }
</style>
