---
import { Icon } from "astro-icon/components";
---

<section class="info section">
  <div class="info__container container">
    <div class="profile">
      <h2>پروفایل</h2>
      <p>
        بیش از دو سال است که در زمینه طراحی و پیاده‌سازی برنامه‌های وب فعالیت می‌کنم. در این مدت با
        استفاده از آخرین فناوری‌ها و ابزارهای موجود، موفق به ایجاد پلتفرم‌های مختلف و کسب نتایج
        مطلوب شده‌ام. همچنین همواره به دنبال یادگیری و حل چالش‌های فنی هستم. در این مسیر، تجربه‌های
        ارزشمندی کسب کرده‌ام که به من کمک کرده‌اند تا به توسعه‌دهنده بهتری تبدیل شوم.
      </p>
    </div>
    <div class="contacts">
      <h2>راه‌های ارتباطی</h2>
      <ul class="contacts__list">
        <li class="contacts__item">
          <Icon size={22} name={"call"} />
          <p>
            <a href="tel:+989369109017">09369109017</a>
          </p>
        </li>
        <li class="contacts__item">
          <Icon size={22} name={"mail"} />
          <p>
            <a href="mailto:HosseinEnsafi@outlook.com">HosseinEnsafi@outlook.com</a>
          </p>
        </li>
        <li class="contacts__item">
          <Icon size={22} name={"github"} />
          <p>
            <a target="_blank" href="https://github.com/HosseinEnsafi">HosseinEnsafi</a>
          </p>
        </li>
        <li class="contacts__item">
          <Icon size={22} name={"telegram"} />
          <p><a target="_blank" href="https://t.me/mathisfunn">MathIsFunn</a></p>
        </li>
        <li class="contacts__item">
          <Icon size={22} name={"fem"} />
          <p>
            <a target="_blank" href="https://www.frontendmentor.io/profile/HosseinEnsafi"
              >HosseinEnsafi</a
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .info a:any-link {
    color: var(--text-clr);
  }

  h2 {
    margin-bottom: 0.5em;
  }

  .info__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    gap: 1.75rem;
    text-align: justify;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .contacts__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .contacts__item svg {
    opacity: 0.2;
    color: #121212;
  }
</style>
